*, *:before, *:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

h1 {
   font-size: 2em;
}
h2 {
   font-size: 1.5em;
}
h1, h2 {
   font-weight: bold;
   margin: 5px 0;
}
p {
   font-size: 1em;
   margin: 5px 0;
}
ul {
   padding-left: 10px;
   margin: 10px 0;
   list-styletype:disc;
}
li {
   margin-left: 10px;
   padding-left: 10px;
}

header, article, aside, footer {
   border: 1px solid #111;
}

header, article, aside, footer {
   border: 1px solid #111;
   padding: 10px 1em;
   margin: 0 5% 10px;
}

header {
   margin-top: 10px;
}
