#fullpage {
   max-width: 63em;
   margin: auto;
}

*, *:before, *:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

h1 {
   font-size: 2em;
}
h2 {
   font-size: 1.5em;
}
h1, h2 {
   font-weight: bold;
   margin: 5px 0;
}
p {
   font-size: 1em;
   margin: 5px 0;
}
ul {
   padding-left: 10px;
   margin: 10px 0;
   list-styletype:disc;
}
li {
   margin-left: 10px;
   padding-left: 10px;
}

img {
   max-width: 100%;
}

header, article, aside, footer {
   border: 1px solid #111;
   padding: 10px 1em;
   margin: 0 5% 10px;
}

header {
   margin-top: 10px;
}

header {
   background-image: url(https://media.licdn.com/media//AAEAAQAAAAAAAAPeAAAAJGM2N2Y5MDJhLWM2MDQtNGViNy1iMWFiLTVjODc3ZGM4MTNiNQ.jpg);
   background-position: left center;
}

article img {
	float: right;
	padding-left: 3%;
	padding-bottom: 10px;
	width: 37%;
}

@media only screen and (min-width: 36em) {
   article {
      width: 67%;
      float: left;
      margin-right: 0;
   }
   aside {
      width: 21%;
      float: right;
      margin-left: 0;
   }
   footer {
      clear: both;
   }
}

@media only screen and (max-width: 24em) {
   article img{
	   width: auto;
	   float: none;
	   padding-left: 0;
   }
}